!!!
%html(lang='pt-BR')
  %head
    %meta(charset='utf-8')
    %title Testadores

    != include_stylesheets :common, :application
    != include_javascripts :common

    /[if IE 6]
      != include_stylesheets :ie6

  %body
    .yui-d-custom
      %nav#login
        - if signed_in?
          Olá, #{link_to h(current_user), current_user} | #{link_to 'Sair', logout_path}

        - else
          #{link_to 'login', login_path} ou #{link_to 'cadastro', register_path}

      %header#hd
        %h1
          = link_to 'Testadores', root_path

        %nav#nav
          - menu :class=>"menu" do |m|
            = m.home 'Home', root_path
            = m.users 'Membros', users_path
            = m.projects 'Projetos', projects_path
            = m.meetings 'Encontros', meetings_path

      #content{ :class => "#{controller.controller_name} #{controller.action_name}" }
        = yield

      %footer
        #ft
          %h2 apoio

          %ul
            %li.first
              = link_to image_tag('sponsors/iterasys.jpg', :alt => 'Iterasys'), 'http://iterasys.com.br/', :popup => true
            %li
              != mail_to 'testadores_ouvidoria@yahoogrupos.com.br', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript
            %li
              != mail_to 'testadores_ouvidoria@yahoogrupos.com.br', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript

            %li
              != mail_to 'testadores_ouvidoria@yahoogrupos.com.br', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript

            %li
              != mail_to 'testadores_ouvidoria@yahoogrupos.com.br', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript

            %li.first
              != mail_to 'testadores_ouvidoria@yahoogrupos.com.br', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript

            %li
              != mail_to 'testadores_ouvidoria@yahoogrupos.com.br', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript

            %li
              != mail_to 'testadores_ouvidoria@yahoogrupos.com.br', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript

            %li
              != mail_to 'testadores_ouvidoria@yahoogrupos.com.br', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript

            %li
              != mail_to 'testadores_ouvidoria@yahoogrupos.com.br', image_tag('sponsors/default.jpg', :alt => 'Anuncie aqui'), :encode => :javascript

        %p#credit
          <strong>Website por:</strong> #{link_to "Gabriel Sobrinho", "http://twitter.com/sobrinho"}
          (desenvolvimento), #{link_to "Daniel Lopes", "http://areacriacoes.com.br/"} (design e desenvolvimento),
          #{link_to "Fabrício Campos", "http://qualidadebr.wordpress.com/"} (personalização).
          

    = google_analytics
